@font-face {
    font-family: "DrukWideMedium";
    src: url(fonts/drukWide/druktextwidecyr-medium.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body, h1, p {
    margin: 0;
    color: white;
}
*{
    box-sizing: border-box;
}
.header {
    /* border: 2px solid red; */
    position: absolute;
    top: 53px;
    left: 170px;
    width: calc(100% - 340px);
    height: 45px;
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* .nav__item {
    margin-right: 20px;
}
.nav__item:last-child {
    margin-right: 0px;
} */

.nav__item a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: DrukWideMedium;
}

.main-banner {
    /* надо придумать как сделать градиент на баннере, а пока так */ 
    background-color: rgba(3, 30, 59, 0.767);
    background-image: url(images/main-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    
    height: 934px;
    /* display: flex; */
    /* align-items: center; */
}

.main-banner__info {
    display: flex;
    padding-top: 289px;
    height: 645px;
    /* padding-bottom: 256px; */
}

.main-banner__text-container {
    margin-left: 170px;
    margin-right: 91px;
    display: flex;
    flex-direction: column;
}
.main-banner__info img {
    align-self: flex-end;
    width: 622px;
}

.h1 {
    font-family: DrukWideMedium;
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 72.8px */
    text-transform: uppercase;
    margin-bottom: 32px;
}

h1 span.bold {
    font-family: DrukWideMedium;
    font-size: 56px;
    font-style: normal;
    font-weight: 1000;
    line-height: 130%;
    letter-spacing: 5.04px;
    text-transform: uppercase;
}

.text-desc {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    margin-bottom: 44px;
    max-width: 740px;
    height: 110px;
}

.main-banner__btn-order {
    width: 200px;
    height: 57px;
    border: 1px solid white;
    font-family: 'Inter', sans-serif;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 20px 40px;    
}

.main-banner__btn-order:hover {
    background-color: gray;
}

.footer {
    width: auto;
    height: auto;
    background-color: #181F29;
    display: flex;
    padding: 50px 174px;
    justify-content: space-between;
}

.footer > * {
    display: flex;
    flex-direction: column;
}

.footer__name-logo {
    font-family: DrukWideMedium;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.bold-little {
    font-weight: 1000;
    letter-spacing: 3.5px;
}
.footer__name-logo-sub {
    color: #209AB5;
    font-family: DrukWideMedium;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; 
    text-transform: uppercase;
    margin-bottom: 69px;
}
.footer__name-rights {
    color: #A0A0A0;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
}

.footer__meta-data {
    display: flex;
    flex-direction: row;
}
.footer__sections{
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}
.footer__title {
    color: var(--white, #FFF);
    font-family: DrukWideMedium;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.footer__links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer__link-style {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: white;
}
.footer__btn-actors {
    width: 151px;
    height: 48px;
    border: 1px solid white;
    font-family: 'Inter', sans-serif;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 15px 35px;
    margin-top: 31px;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
}

.footer__contacts :nth-child(2), .footer__contacts :nth-child(3) {
    display: flex;
    align-items: center;
}

.footer__contacts div img {
    margin-right: 5px;
}

.footer__contacts div:nth-child(2) {
    margin-bottom: 10px;
}

.footer__recsquare-logo {
    margin-bottom: 60px;
}

.intresting-page {
    background: linear-gradient(#1D222F 90%, #209AB5);
    display: flex;
    justify-content: center;
    align-items: center;
    /* 88deg, orange 75%, cyan */
}

.order-voiceover {
    width: 1046px;
    /* height: 482px; */

    display: flex;

    padding: 50px;
    margin-top: 150px;
    margin-bottom: 100px;

    border: 1px solid #209AB5;
    gap: 70px;
}
.order-form__title {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.order-form__h {
    font-family: DrukWideMedium;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.order-form__p {
    margin-bottom: 30px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.order-form__name-tel {
    margin-bottom: 23px;
    display: flex;
    gap: 20px;
}
.order-form__name-input, .order-form__tel-input {
    width: 50%;
    height: 48px;
}
.order-form__email {
    margin-bottom: 30px;
    height: 48px;
    width: 100%;
}
.order-form__name-input, .order-form__tel-input, .order-form__email {
    font-size: larger;
    padding-left: 10px;
}
.order-form__captcha-submit {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.order-form__disclaimer {
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.order-form__disclaimer a {
    color: inherit;
}

.btn-order {
    width: 151px;
    height: 48px;
    border: 1px solid white;
    font-family: 'Inter', sans-serif;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: flex-end;
}